{% extends 'base.html' %}

{% block title %}O nas - LaMadre{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">O nas</h1>
        <div class="row">
            <div class="col-md-8">
                <p class="lead">
                    LaMadre to nowoczesny sklep internetowy, który powstał z myślą o naszych klientach.
                </p>
                <p>
                    Nasza misja to dostarczanie wysokiej jakości produktów w przystępnych cenach,
                    zapewniając jednocześnie doskonałą obsługę klienta i szybką dostawę.
                </p>
                <p>
                    Działamy na rynku od 2024 roku i stale rozwijamy naszą ofertę,
                    aby sprostać oczekiwaniom naszych klientów.
                </p>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nasze wartości</h5>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-check text-success"></i> Jakość produktów</li>
                            <li><i class="fas fa-check text-success"></i> Obsługa klienta</li>
                            <li><i class="fas fa-check text-success"></i> Szybka dostawa</li>
                            <li><i class="fas fa-check text-success"></i> Konkurencyjne ceny</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 